*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: rgb(1, 78, 86);
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    display: flex;
    align-items: center;
    gap: 50px;
}
.img3{
    display: none;
}

button{
    width: 153px;
height: 48px;
box-sizing: border-box;
border: 2px solid rgb(255, 255, 255);
border-radius: 24px;
background-color: transparent;
color: white;
font-family: Livvic;
font-size: 18px;
font-weight: 600;
line-height: 28px;
}

button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

nav{
    display: flex;
    gap: 50px;
}

nav a{
    text-decoration: none;
    color: white;
}

h2{
    font-size: 64px;
    color: white;
}

p{
    font-size: 18px;
    width: 730px;
    color: white;
    margin-top: 70px;
}

.hero__container{
    display: flex;
    justify-content: space-between;
    padding: 100px 120px;
}

.hero{
    background-color: rgb(1, 78, 86);
}


.hero1__container{
    background-color: rgb(0, 64, 71);
    padding: 50px 120px;
}

h1{
    font-size: 48px;
    text-align: center;
    padding: 50px;
    color: white;
}

.box2{
    width: 350px;
    height: 275px;
    background-color: rgb(1, 47, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.box1{
    display: flex;
    justify-content: space-between;
}

.box3{
    margin-top: 30px ;
}

#img{
position: absolute;
top: 935px;
}

h3{
    color: white;
}

em{
    color: white;
}

.hero2__container{
    background-color: rgb(1, 47, 52);
    padding: 50px 120px;
}

h6{
    font-size: 48px;
    color: white;
    text-align: center;
    padding: 80px 120px;
}

.box4 img{
    width: 185px;
    height: 22px;
}
.box4{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.hero3__container{
    background-color: rgb(246, 126, 126);
    padding: 100px 120px;
    display: flex;
    justify-content: space-between;
}

h5{
    font-size: 48px;
font-weight: 700;
line-height: 48px;
color: rgb(1, 47, 52);
}

.hero3__container button{
    width: 153px;
    height: 48px;
    box-sizing: border-box;
    border: 2px solid rgb(1, 47, 52);
    border-radius: 24px;
    background-color: transparent;
    color: rgb(1, 47, 52);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.hero3__container button:hover{
    background-color: white;
    color: black;
    border: none;
}

.hd{
  
    background-color:   rgb(0, 37, 41);
}

.container1{
    padding: 60px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box5{
    display: flex;
    gap: 10px;
}
#img1{
    position: absolute;
    top: 935px; 
}


@media (max-width:760px){
    .hero__container{
        display: block;
        padding: 100px 50px;
        text-align: center;
        
    }
  
    p{
        font-size: 18px;
        width: 600px;
        color: white;
        margin-top: 0px;

    }
    .container{
        padding: 50px 50px;
    }

    .hero1__container{
        padding: 50px 50px;

    }
    .box2{
        width: 260px;
        height: 253px;
    }
    .box1{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    #img{
        position: absolute;
        top: 935px;
    }

    #img1{
        position: absolute;
        top: 1220px;
    }

    .box4 img{
        width: 100px;
        height: 17px;
    }
    .hero2__container{
        padding: 50px 50px;
        background-color: rgb(0, 64, 71);
    }

    .container1{
        padding: 50px 50px;
    }

    .hero3__container{
        padding: 50px 50px;
        display: flex;
        align-items: center;
    }
    h5{
        width: 300px;
    }
}

@media (max-width:500px) {
    .box{
        display: none;
    }
    .img3{
        display: block;
    }
    h6{
        font-size: 28px;
        padding: 50px 50px;
    }
    .box4{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .box4 img{
        width: 200px;
        height: 35px;
    }

    .hero3__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h5{
        font-size: 33px;
    }
    #img{
        position: absolute;
        top: 1010px;
    }
    p{
        font-size: 18px;
        width: 370px;
        color: white;
        margin-top: 0px;
}

#img1{
    position: absolute;
    top: 1220px;
}   

.hero2__container{
    background-color: rgb(1, 47, 52);
}


.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 100px;
    gap: 30px;
}
}